<h2>{{froggy.name}}</h2>
<a href="/">Home</a>
<a href="/{{froggy.id}}/edit">Edit</a>
<a href="/{{froggy.id}}/delete">Delete</a>
<img src="{{froggy.image_url}}" alt="frog" />
<div >
  Type: {{froggy.type}}
</div>
