<form action="/{{frog.id}}/edit" method="post">
  <input type="text" name="name" placeholder="Name" value="{{frog.name}}">
  <input type="text" name="type" placeholder="Type" value="{{frog.type}}">
  <input type="number" name="size" placeholder="Size" value="{{frog.size}}">
  <input type="url" name="image_url" placeholder="Image Url" value="{{frog.image_url}}">
  <button type="submit" >Edit</button>
</form>
